p {
  display: inline-block;
  width: 60%;
  float: left;
}

nav a {
  margin-right: 25px;
}

section {
  position: relative;
  height: 300px;
}

ul {
  margin-top: 100px;
}

li {
  width: 500px;
}

#imgalimentação {
  position: absolute;
  width: 400px;
  right: 35px;
  border-radius: 25px;
  bottom: 3px;
}

#imgcomportamento {
  position: absolute;
  width: 400px;
  float: right;
  right: 35px;
  border-radius: 25px;
}

#imgsoco {
  position: absolute;
  width: 500px;
  float: right;
  right: 5px;
}

#hr5 {
  margin-top: 100px;
}

.referencias {
  display: inline-block;
  width: 540px;
  height: 150px;
  bottom: 90px;
}

aside {
  position: absolute;
  float: right;
  left: 45%;
  bottom: -650px;
}
