* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
}

header, nav, article, section, aside, footer {
  padding: 20px;
}

nav {
  background-color: #555;
  padding: 10px;
  text-align: center;
}

h1, h3 {
  margin: 0;
}

h2 {
  margin: 20px 0 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #c5c5c5;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alimentação .content,
.comportamento .content,
.soco .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alimentação .text,
.comportamento .text,
.soco .text {
  flex: 1;
}

.alimentação .image,
.comportamento .image,
.soco .image {
  flex: 1;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alimentação img,
.comportamento img,
.soco img {
  max-width: 500px;
  height: auto;
  border-radius: 20px;
}

.referencias ul {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.referencias li {
  margin-bottom: 10px;
}

aside {
  background-color: #f2f2f2;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.informações-gerais, .alimentação, .comportamento, .soco {
  border-top: 1px solid #d6d6d6;
}

/* Estilos para dispositivos com largura máxima de 767px */
@media (max-width: 767px) {
  .alimentação .content,
  .comportamento .content,
  .soco .content {
    flex-direction: column;
  }

  .alimentação .text,
  .comportamento .text,
  .soco .text,
  .alimentação .image,
  .comportamento .image,
  .soco .image {
    margin-left: 0;
  }

  .alimentação .image,
  .comportamento .image,
  .soco .image {
    margin-top: 20px;
    max-width: 100%;
  }

  .referencias li {
    margin-bottom: 5px;
  }

  .alimentação img,
  .comportamento img,
  .soco img {
    max-width: 100%;
  }
}


