* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: rgb(38, 38, 38);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

main {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 37.19%;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  background-color: rgb(21, 21, 21);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  transition: 0.2s ease-in-out;
  outline: 0 none;
}

form *:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

h1 {
  margin-bottom: 25px;
}

p {
  margin-top: 15px;
}
